<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JuiceShop Cross-Browser Test Suite" parallel="tests" thread-count="2">
    <test name="Selenium Grid Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.bestamibakir.JuiceShopTest">
                <methods>
                    <include name="testJuiceShopHomePage"/>
                    <include name="testUserRegistrationAndLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Selenium Grid Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.bestamibakir.JuiceShopTest">
                <methods>
                    <include name="testJuiceShopHomePage"/>
                    <include name="testUserRegistrationAndLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
